*
!.gitignore

!convert-UUP.cmd
!ConvertConfig.ini
!create_virtual_editions.cmd
!create_virtual_editions.cmd
!CustomAppsList.txt
!Remove_Failure_MountDir_TempDir.cmd
!uup_download_windows.cmd

!bin
!bin/**
!Drivers
!Drivers/**
!files
!files/**
!UUPs
!UUPs/**